%ul.nav
  %li.nav-item
    = link_to 'Home', root_path(anchor: 'hero'), class: ['nav-link']
  %li.nav-item
    = link_to 'What we are', root_path(anchor: 'about'), class: ['nav-link']
  %li.nav-item
    = link_to 'Who we are', root_path(anchor: 'team'), class: ['nav-link']
  %li.nav-item
    = link_to 'What we do', root_path(anchor: 'services'), class: ['nav-link']
  %li.nav-item
    = link_to 'Where we are', root_path(anchor: 'contacts'), class: ['nav-link']