// SECTION: HERO
%section.hero#hero
  .hero__container
    %h1
      We are here to help you
      %br
      be yourself
    = image_tag('chevron-lg.svg')

// SECTION: ABOUT
%section.about#about

  -#Backgroung image
  .about__img

  -#Mission
  .about__mission.copy-block
    %h2 Our mission
    %p At Uptown Barbers, we believe that men deserve to take pride in their hair and beard styles. Whether you’re in the mood for a straight razor shave or you want to clean up your cut before a night on the town, we’ll groom your hair and beard to perfection. Our fully qualified barbers are dedicated to giving you the look and style of your dreams, all while you relax in our comfortable, rustic barber shop.
    %p Nothing says “classic barber shop” quite like the straight razor shave. Our towels are always hot and our razors are kept sharp, giving you the closest, smoothest shave you’ll ever experience. Every haircut comes with a complimentary neck shave—we want you looking your best when you leave our shop.

  -#Testimonials
  .about__testimonials.copy-block-sm
    %h3 What clients say

    -#Carousel
    %div.carousel.slide#carousel-indicators-target{data: {ride: 'carousel'}}

      -#Indicators
      %ol.carousel-indicators
        %li.active{data: {target: 'carousel-indicators-target', slide_to: 0}}
        %li{data: {target: 'carousel-indicators-target', slide_to: 1}}
        %li{data: {target: 'carousel-indicators-target', slide_to: 2}}

      -#Content
      %div.carousel-inner
        .carousel-item.active
          %p Alek Hill two days ago:
          %p “Bicycle rights mixtape keffiyeh muggle magic tumblr. Synth vinegar humblebrag normcore williamsburg wes anderson.”
        .carousel-item
          %p Alek Hill three days ago:
          %p “Bicycle rights mixtape keffiyeh muggle magic tumblr. Synth vinegar humblebrag normcore williamsburg wes anderson.”
        .carousel-item
          %p Alek Hill four days ago:
          %p “Bicycle rights mixtape keffiyeh muggle magic tumblr. Synth vinegar humblebrag normcore williamsburg wes anderson.”

      -#Controls
      %a.carousel-control-prev{href: '#carousel-indicators-target', role: 'button', data: {slide: 'prev'}}
        -#%span.carousel-control-prev-icon{aria_hidden: 'true'}
        = image_tag('chevron-md.svg', aria_hidden: 'true')
        %span.sr-only Previous
      %a.carousel-control-next{href: '#carousel-indicators-target', role: 'button', data: {slide: 'next'}}
        = image_tag('chevron-md.svg', class: 'chevron-right', aria_hidden: 'true')
        -#%span.carousel-control-next-icon{aria_hidden: 'true'}
        %span.sr-only Next

// SECTION: TEAM
%section.team#team
  .team__lead.copy-block
    %h2 Meet our team
    %p Take your appearance to the next level with our team of professional and experienced stylists. We take the time to understand your needs so you can get the look you desire. Stop by for your next fade, beard trim, or hot shave. Our team of barbers will make sure your grooming experience is relaxing, enjoyable, and will leave you looking your best.
  .team__container
    - @barbers.each do |barber|
      .team-member
        = image_tag("barbers/#{barber.avatar}", alt: 'uptown barbers avatar')
        .team-member__info
          %p.team-member__name #{barber.first_name}
          %p.team-member__grade
            %i.fa.fa-star
            #{barber.aver_grade}
          %p.team-member__cuts amount of cuts: #{barber.amount_of_cuts}

// SECTION: SERVICES
%section.services#services
  .services__img
  .services__copy.copy-block
    %h2 Look your best
    %p From styles that make a statement to the classic looks from years past, our team specializes in providing personalized service to all of our clients. We can match any hairstyle you are looking for, including:
    .services__list
      - @services.each do |service|
        %span.service_name #{service.name}
        %span.service_price #{service.price}
    .btn.btn-secondary.btn-md Book your seat now

%section.contacts#contacts

  -#Contact info block
  .copy-block
    %h2 Find us
    .contacts_container
      .contacts__info
        %i.fa.fa-map-marker
        %span
          2341 Main Street
          %br
          Vancouver, BC V5T 3C9
        %i.fa.fa-phone
        %span 604.314.5627
        %i.fa.fa-envelope-o
        %a{href: 'mailto: info@uptownbarbers.ca'} info@uptownbarbers.ca
    .social-media
      %i.fa.fa-facebook
      %i.fa.fa-twitter
      %i.fa.fa-instagram

  -#Google map
  #google-map
    %script(async defer){type: 'text/javascript', src: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCm0hJwCscX2NwRQ23nbUVDVkltEaa-HDE&callback=initMap'}
    = javascript_include_tag 'public/google-map'

= javascript_include_tag 'public/home-page'

