%section.reservation
  .reserv__container
    .reserv__step.barbers
      .barbers__header
        %h4 Choose a barber
        %p or skip step
      .barbers__names
        %span Keely
        %span Keely
        %span.active Keely
        %span Keely
        %span Keely
      .barbers__img
        - 5.times do |i|
          .barbers__img__cont
            = image_tag("barbers/avatar_#{i + 1}.jpg", alt: 'uptown barbers avatar')

    .reserv__step
      %h4 Select date&time
    .reserv__step
      %h4 Leave your contacts
      = form_for(@shift, url: book_path) do |shift|
        = shift.select(:barber_id) do
          = options_for_select([['choose', 0, { disabled: 'disabled',     |
                                                selected: 'selected',     |
                                                  hidden: 'hidden'        |
            }]])                                                          |
          = options_from_collection_for_select(Barber.all, :id, :first_name)
        %br
        = shift.text_field(:date)
        %br
        = shift.text_field(:time)
        %br
        = shift.submit('Make a reservation')