%section.reservation
  .reserv__container
    .reserv__step.barbers
      .barbers__header
        %h4 Choose a barber
        %p or skip step

      .barbers__names
        - @barbers.each do |barber|
          %span #{barber.first_name}

      .barbers__img
        - @barbers.each do |barber|
          .barbers__img__cont
            = image_tag("barbers/#{barber.avatar}", alt: 'uptown barbers avatar')

    .reserv__step
      %h4 Select date&time
    .reserv__step.form-contacts
      %h4 Leave your contacts
      = form_for(@shift, url: book_path) do |shift|
        = shift.select(:barber_id) do
          = options_for_select([['choose', 0, { disabled: 'disabled',     |
                                                selected: 'selected',     |
                                                  hidden: 'hidden'        |
            }]])                                                          |
          = options_from_collection_for_select(Barber.all, :id, :first_name)

        = shift.text_field(:date)

        = shift.text_field(:time)

        = fields_for(@requisition) do |requisition|
          = requisition.select(:service_id) do
            = options_for_select([['choose', 0, { disabled: 'disabled',   |
                                                selected: 'selected',     |
                                                  hidden: 'hidden'        |
            }]])                                                          |
            = options_from_collection_for_select(Service.all, :id, :name)

        = fields_for(@client) do |client|
          = client.text_field(:full_name)
          = client.email_field(:email)
          = client.phone_field(:phone)

        = shift.submit('Make a reservation')


= javascript_include_tag 'public/reservation-page'
