%section.reservation
  .reserv__container
    .reserv__step.step-1
      .barbers__header
        %h4 Choose a barber
        %p or skip step

      .barbers__names
        - @barbers.each do |barber|
          %span #{barber.first_name}

      .barbers__img
        - @barbers.each do |barber|
          .barbers__img__cont
            = image_tag("barbers/#{barber.avatar}", alt: 'uptown barbers avatar')

    .reserv__step.step-2
      %h4 Select service & time

      .input-container
        %i.fa.fa-sort.input-icon-right
        %select#select-service.custom-select
          %option{value: 0, disabled: 'disabled', selected: 'selected', hidden: 'hidden'} select service
          - @services.each do |service|
            %option{value: service.id} #{service.name}

      .input-container
        %i.fa.fa-calendar.input-icon-right
        %input#datepicker{type: 'text'}

      #times
        -#- @times.each do |key, value|
        -#  %span.time{data: {time: key}} #{value}

      %p#text

    .reserv__step.step-3
      %h4 Leave your contacts
      = form_for(@shift, url: book_path, method: 'post') do |shift|

        = shift.select(:barber_id, Barber.all.collect { |p| [ p.first_name, p.id ] }, {prompt: 'select'}, {selected: shift.object.barber_id, class: ['hidden']})
        = shift.text_field(:date, class: ['hidden'])
        = shift.text_field(:time, class: ['hidden'])

        = fields_for(@requisition) do |requisition|

          = requisition.select(:service_id, Service.all.collect { |p| [ p.name, p.id ] }, {prompt: 'select'}, {selected: requisition.object.service_id, class: ['hidden']})

        = fields_for(@client) do |client|
          .input-container
            %i.fa.fa-user.input-icon-left
            = client.text_field(:full_name, placeholder: "Enter your name")
          .input-container
            %i.fa.fa-envelope-o.input-icon-left
            = client.email_field(:email, placeholder: "Enter your email")
          .input-container
            %i.fa.fa-phone.input-icon-left
            = client.phone_field(:phone, placeholder: "Enter your phone number")

        = shift.submit('Make a reservation', class: ['btn', 'btn-submit'])

  -###  Modal with validation errors
  - if (@client && @client.errors.size > 0) || !flash[:errors].blank?
    .flash__error
      %p Cannot make a reservation because of the following problems:
      %ul.list-unstyled
        - unless flash[:errors].blank?
          - flash[:errors].each do |msg|
            %li #{msg}
        - if (@client && @client.errors.size > 0)
          - @client.errors.full_messages.each do |msg|
            %li #{msg}


= javascript_include_tag 'public/reservation-page'
