<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <%= render 'layouts/public/default' %>
    </head>

    <body>
        <%= render 'layouts/public/header' %>
        <% unless flash[:notice].blank? %>
            <div class="flash__notice">
                <%= flash[:notice] %>
            </div>
        <% end %>

        <%= yield %>
    </body>
</html>
